body{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
}

h3{
	text-align: center;
}

.headerLine{
	display: block;
    height: 1px;
    border: 0;
    width: 20vw;
    margin: 1em 0;
    padding: 0;
}

.blueHr{
	border-top: 7px solid #4374c1;
}

.redHr{
	border-top: 7px solid #8c1d1d;
}

.greenHr{
	border-top: 7px solid #2c662d;
}

.orangeHr{
	border-top: 7px solid #ef5e00;
}

.row{
	margin-bottom: 20px;
}

.main{
	padding-top: 50px;
	
}



/* NAVIGATION BAR */
.nav-pills {
	position: sticky;
	top: 35px;
	padding-right: 30px;
	display: block;
}




/* SHOWCASE */
#showcase{
	background-image: url('../images/showcase.jpg');
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	text-align: center;
	padding-top: 10vh;
	position: relative;
}

.headerOverlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(0, 0, 0);
	opacity: 0;
}

#circle{
	background-color: rgba(255, 255, 255, 0.5);
	position: relative;
	width: 70vh;
	max-width: 100vw;
	max-height: 100vw;
	height: 70vh;
	border-radius: 50%;
	margin: 0 auto;
	border: solid;
	border-width: 2%;
	border-color: rgb(255, 255, 255);
	padding-top: 20vh;
	vertical-align: middle;
}


#showcaseText h1{
	font-size: 9vh;
	padding-bottom: 4vh;
}

#showcaseText h2{
	font-size: 6vh;
}

.icons a{
	text-decoration: none;
}

.icons{
	margin-top: 40px;
}

.name{
	color: #225ebf;
}

.nameHr{
	width: 50%;
	border-top: 2px solid #686868;
}

.icon{
	margin: 10px;
}

/*ABOUT ME*/

#me{
	height: auto;
	width: 100%;
	border-radius: 0px 50% 50% 50%;
	margin-left: 15px;
}

/* PROJECTS */

.project{
	transition: transform .3s;
	text-align:center;
	padding: 10px 30px;	
	margin: 20px 0;
	border: solid white;
	border-width: 1px;
	border-radius: 25px;
}

.project a{
	color: black;
	text-decoration: none;
}
.project h4{
	margin-top:10px;
}
.project:hover{
	transform: scale(1.1);
	cursor: pointer;
	border-color: #66a3ff;
}

/* CONTACT */
#email{
	width: 20%;
}

.phone{
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}


/* FOOTER */
.copyright{
	text-align:center;
}