
/* SHOWCASE */
#showcase{
	background-image: url('../images/showcase.jpg');
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	min-height: 800px;
	text-align: center;
	padding-top: 50px;
	margin-bottom: 50px;
}

#showcase h1{
	font-size: 75px;
	top:200px;
}

#showcase h2{
	font-size: 50px;
	top: 300px;
}

.slideUp{
	animation-name: up;
    animation-duration: 1s;
    position: relative;
}

@keyframes up {
    0%   {top:20px;}
    100% {top:200px;}
}

#circle{
	background-color: rgba(255, 255, 255, 0.5);
	height: 600px;
	width: 600px;
	border-radius: 300px;
	margin: 0 auto;
	border: solid;
	border-width: 5px;
	border-color: rgb(255, 255, 255);
}

#circle .subtitle{
	top:250px;
	position: relative;
}

/* SIDENAV */
#sideNav{
	display: block;
}

#openNav{
    display: none;
}	

#closeNav{
	display: none;
}

#sideNav{
	border: solid #e5e5e5;
	border-width: 1px;
}
@media (max-width: 768px) {
    #sideNav {
        display: none;
    }
    #openNav{
    	display: inline;
    	cursor: pointer;
    }
    #closeNav{
    	cursor: pointer;
    	display: none;
    }
    .sticky {
		position: fixed;
		top: 10px;
		width: 80%;
	}
}

@media (max-width: 1000px){
	#sideNav {
		margin-left: 10px;
	}
}

.sticky {
	position: fixed;
	top: 10px;
	width: 20.95%;
}


/* MAIN BODY */
@media (max-width: 768px){
	#mainBody{
		padding: 0 40px;
	}
}

#mainBody{
	margin: 20px;
}

/*ABOUT ME*/

#me{
	height: 300px;
	width: 300px;
	border-radius: 150px;
	margin-left: 15px;
}

/* PROJECTS */

.project{
	border: solid #999999;
	border-width: 2px;
	border-radius: 25px;
	height: 200px;
	margin: 5px 20px;
	margin-bottom: 300px;
	transition: transform .3s;
	padding: 0;
	display: inline;
}

.project:hover{
	transform: scale(1.1);
	cursor: pointer;
}

.projectImg{
	width: auto;
	height: 100%;
	border-radius: 24px;
	display: block;
	margin: 0 auto;
}



